/* Main */

body 
{
    background-color: #efeee7;
    border-color: #dddddd;
    margin: 0;;
    padding: 0;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
    font-size: 18px;
    color: #777777;
}

p {
    margin-top: 0;
    margin-left: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 150%;
}

h1
{
    color: #efeee7;
    background-color: #4aaaa5;
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0x;
    font-size:28px;
    width: 33.3%;
    height: 50px;
}


.header {
    background-color: #ffffff;
    border-color: #cccccc;
}
h2 
{
    font-size: 24px;
    margin: 20px;
    color: #4aaaa5; 
}

h3 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

ul {
    list-style-type: none;
    float: right;
    margin-top: -50px;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

li a {
    display: inline;
    padding: 8px;
}

.container 
{
    width: 960px;
    height: 50px;
    margin: 0 auto;
    background-color: #ffffff;
    border-color: #CCCCCC;
}

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 20;
    margin-bottom: 0;
    margin-right: 40;
    background: #fff;
    border: 1px solid #ddd;
  }

  /* About Me */

#main-bio, #image-bio
{
    float: left;
}

#main-bio 
{
    width: 960px;
    margin-top: 10px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 1px;
}

#image-bio 
{
    margin-right: 20px;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
 }

 /* portfolio page */

.work {
    position: relative;
    float: left;
    width: 294px;
    margin: 10px 0 25px;
    overflow: hidden;
  }
  
  .work:nth-child(even) {
    margin-right: 20px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    margin-left: 20px;
  }
  
 .text-block h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  /* Contact Form */

 #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
    margin: 5px;
  }
  

  form {
    margin: 20px;
}


  #submit {
    background-color: #4aaaa5;
    width: 75px;
    height: 35px;
    color: #ffffff;
}
  

