        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }

        #nav-link {
          background-color: red;
        }

        /* Add a gray background color and some padding to the footer */
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: lightgray;
          color: #000;
          text-align: center;
        }

        .footer p {
          margin-top: 10px;
        }

        #message-text p {
          color: red;
        }

        .btn {
          background-color: DodgerBlue;
          border: none;
          color: white;
          padding: 12px 16px;
          font-size: 16px;
          cursor: pointer;
        }

        #title-text {
          font: arial;
          color: royalblue;
          font-size: 24px;
          font-weight: bold;
        }

        #card-title-text {
          font: arial;
          color: royalblue;
          font-size: 14px;
          font-weight: bold;
          padding: 60px;
        }

        ul {
          list-style: square;
        }

        /* Darker background on mouse-over */
        .btn:hover a {
          background-color: RoyalBlue;
        }

        #button-text  {
          color: #00f;
          font-size: 24px;
          text-align: center;
          margin: 20px;
          font-weight: bold;
        }

        #button-text a:hover {
          text-decoration: none;
          color: #fff;
        }

        img {
          padding: 1px;
          border: 1px solid #021a40;
          background-color: #000;
          opacity: 1;
        }

        img:hover {
          padding: 1px;
          border: 1px solid #021a40;
          background-color: #00f;
          opacity: 0.60;
        }

        #img-portfolio {
          -webkit-filter: grayscale(100%);
          /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }